@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    height: 100%;
  }
a {
  text-decoration: none;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 30vw;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 20vw;
    font-size: 14px;
    background: #1aa371;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
  }
  button:hover {
    background: #1aa371ce;
    cursor: pointer;
  }
  .messages {
    width: 90vw;
    height: 400px;
    margin: auto;
    margin-top: 10vh;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: auto;
  }

#header {
    display: flex;
    justify-items: baseline;
    align-content: space-around;
    width: 100vw;
    height: 50px;
    background-color: #1aa371;
}
#header li {
  margin-left: 10px;
  width: 14%;
  display: block;
  color: #fff;
  text-align: justify;
  font-weight: 900;
  font-family: 'Roboto', 'sans-serif';
  padding-top: 2vh;
  font-size: 13;
  height: 100%;
}
#container {
  margin-top: 30px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100vw;
}

h1 {
  text-align: center;
  font-weight: 900;
  color: rgba(16, 124, 64, 0.52);
  font-family: 'Roboto', 'sans-serif';
}
.color {
  color: #1aa371;
}