* {
    margin: 0px;
    padding: 0px;
}
html,body {
    background-color: #fff;
    height: 100%;   
    font-family: 'Varela Round', sans-serif;
}
.title {
    width: 100%;
    height: 50px;
    background-color: #a5a5a516;
    box-shadow: 2px 1px 1px 1px rgba(0, 0, 0, 0.102);
    text-align: left;
    position: relative;
    vertical-align: middle;
}
.title h3 {
    top: 25%;
    position: relative;
}
.container {
    position: relative;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.102);
    top: 10%;
    width: 70%;
    height: 400px;
}
.top-container {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100px;
    flex-direction: row;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.068);
}
.header-content {
    position: relative;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    float: left;

}
#container-title{
    width: 70%;
    display: inline-block;
    float: right;
    text-align: center;
    vertical-align: middle;
    font-size: 185%;
    line-height: 110px;
}
.content-container {
    position: relative;
    flex-direction: row;
    margin: 0px;
    display: flex;
    width: 100%;
    height: 300px;
   justify-content: center;
   align-content: center;
}
.content-container ul li {
    display: block;
}
.content-container ul {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 45%;
    height: 60%;
    float: left;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.53);
    color: #fff;
}
.container-bottom {
    position: relative;
    width: 100%;
    height: 40px;
    top: 13%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.container-bottom label {
    width: 200px;
    height: 40px;
    background-color: rgba(107, 103, 103, 0.353);
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
    color: rgba(31, 31, 31, 0.646);
}
.container-bottom label:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.102);
    color: rgba(255, 255, 255, 0.646);
    cursor: pointer;
}
.container-bottom label a {
    position: relative;
    padding: 5% 11% 5% 11%;
    text-decoration-line: none;
    color: #fff;
}

/*VIEW DISPLAY DEVICE MOBILE*/
@media screen and (max-width: 700px){

    .container {
        width: 90%;
        height: 400px;
        margin: auto;
        position: relative;
    }
    #container-title{
        width: 60%;
        float: left;
        font-size: 145%;
    }
} 
@media screen and (max-width: 500px){
    .container {
        top: 6%;
        width: 90%;
        height: 444px;
        margin: auto;
        position: relative;
    }
    #container-title{
        width: 60%;
        float: left;
        font-size: 100%;
    }
    .content-container {
        position: relative;
        top: 10px;
        margin: auto;
        display: flex;
        width: 70%;
        height: 67%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.17);
    }
    .content-container ul {
        width: 80%;
        height: 200px;
        font-size: 14px;
        text-justify: center;
        margin-left: 15%;
        margin-top: 10px;
    }
    .container-bottom {
        top: 8%;
    } 
    .content-container ul li {
        width: 90%;
        margin-top: 3px;
        margin-left: 10px;
    }
}
